<h3 class="add-title-heading">Add/Update Title</h3>
<hr>

<div class="form-group">
  Name:
  <input class="form-control" type="text" placeholder="Movie name" name="name" [(ngModel)]="title.name">
</div>

<div class="form-group">
  Description:
  <input class="form-control" type="text" placeholder="Enter a description" name="description" [(ngModel)]="title.description">
</div>

<div class="form-group">
  <button class="btn btn-primary" (click)="addTitle()">Add Title</button>
  <button class="btn " (click)="resetTitle()">Reset</button>
</div>
