<!--<div class="container">
  <h1 class="heading">
    {{title}}
  </h1>
  <div>
    	<div class="col-md-7">
			<app-title-list [titleInfo]="titleInfo" [reset]="reset" [userList]="titleList"></app-title-list>
		</div>
		<div class="col-md-5">
			<app-add-title [titleInfo]="titleInfo" [reset]="reset" [titleList]="titleList"></app-add-title>
		</div>
  </div>
</div>-->
<section class="titleapp">
  <header class="header">
    <h1>Movie PoC for Connecting to AWS</h1>
    <input class="new-title" placeholder="Title" autofocus="" [(ngModel)]="newTitle.title">
    <input class="new-title" placeholder="Description" autofocus="" [(ngModel)]="newTitle.description">
    <!-- TODO add cast section -->
    <button title="Submit" (click)="addTitle()">Submit</button>
  </header>
  <section class="main">
    <ul class="title-list">
      <li *ngFor="let title of titles">
        <div class="view">
          <label>{{title.id}}</label>
          <br>
          <label>{{title.name}}</label>
          <br>
          <label>{{title.description}}</label>
          <br>
          <ul *ngFor="let entry of title.cast | keys">           
            <li *ngIf="entry.key != 'type'"> {{entry.value}}</li>
          </ul>
          <button class="destroy" (click)="removeTitle(title)">Remove</button>
        </div>
      </li>  
    </ul>
  </section>  
</section>  